.container {
  width: 100%;
  display: flex;

  .container_main {
    flex: 1;
    height: calc(-104px + 100vh);
    padding-left: 24px;
    overflow: auto;

    display: flex;
    width: 100%;

    .left_silder {
      padding-top: 24px;

      .tab_l {
        font-size: 14px;
        padding: 8px 12px 8px 12px;
        margin-bottom: 6px;
        width: 140px;
        height: 36px;
        cursor: pointer;
        color: rgba(73, 31, 35, 0.62);
        &:hover {
          background-color: #f4f5f5;
        }
        &.active {
          background-color: #eaf5ff;
          border-radius: 5px;
          color: #196cfb;
          font-weight: 600;
        }
      }
    }

    .right_wrapper {
      flex: 1 1 0%;
    }
  }
}
